# Исключение виртуального окружения
venv/
*.pyc
*.pyo
*.pyd
__pycache__/

# Логи
logs/
*.log

# Конфиденциальные данные
.env

# Файлы IDE
.idea/
.vscode/
*.iml

# Файлы операционной системы
.DS_Store
Thumbs.db

# Кэш и временные файлы
.cache/
*.bak
*.swp
